<div class="container">
  <div class="filters">
    <a class="button" (click)="filter = 'Cabeças'">Cabeças</a>
    <a class="button" (click)="filter = 'Braços'">Braços</a>
    <a class="button" (click)="filter = 'Troncos'">Troncos</a>
    <a class="button" (click)="filter = 'Bases'">Bases</a>
    <a class="button" (click)="filter = ''">Todos</a>
  </div>

  <ul class="products">
    <li class="product-item" *ngFor="let product of getFilteredProducts()">
      <app-product-details
        [product]="product"
        (buy)="addToCart($event)"
      ></app-product-details>
    </li>
  </ul>
</div>
