<div class="container">
  <div class="hero"></div>

  <div class="promoted">
    <img
      src="/assets/images/robot-parts/head-friendly.png"
      alt="Cabeça de Robô Amigável"
    />
    <div class="promo-text">
      <div class="promo-main-text">ESQUEÇA O MITO DO APOCALIPSE ROBÔ</div>
      <div class="promo-sub-text cta">
        <div>APROVEITE 20% DE DESCONTO NAS</div>
        <div>CABEÇAS DE ROBÔ MAIS GENTE BOA</div>
      </div>
    </div>
    <img
      src="/assets/images/robot-parts/head-big-eye.png"
      alt="Cabeça com Olho Grande"
    />
  </div>

  <ul class="robot-parts-cta">
    <li>
      <a class="part">
        <img
          src="/assets/images/robot-parts/head-shredder.png"
          alt="Cabeças de Robô"
        />
        <div>Cabeças de Robô</div>
      </a>
    </li>
    <li>
      <a class="part">
        <img
          src="/assets/images/robot-parts/arm-articulated-claw.png"
          alt="Braços de Robô"
        />
        <div>Braços de Robô</div>
      </a>
    </li>
    <li>
      <a class="part">
        <img
          src="/assets/images/robot-parts/torso-gauged.png"
          alt="Torsos de Robô"
        />
        <div>Troncos de Robô</div>
      </a>
    </li>
    <li>
      <a class="part">
        <img
          src="/assets/images/robot-parts/base-spring.png"
          alt="Bases de Robô"
        />
        <div>Bases de Robô</div>
      </a>
    </li>
  </ul>

  <div class="white-paper">
    <img
      src="/assets/images/robot-parts/robot-apocalypse.png "
      alt="Apocalipse Robô"
    />
    <div class="text">
      <div>
        <div class="header-text cta">Será que eles vão acabar com a gente?</div>
        <div class="sub-text">
          <p>10 mitos sobre o</p>
          <p>Apocalipse Robô</p>
        </div>
      </div>
      <div class="large-text">ARTIGO EXCLUSIVO</div>
      <a href="" class="learn-more">Descubra Mais</a>
    </div>
  </div>
</div>
